  <div class="container-fluid">
<div class="home-page" id= "reload">

<table class="table">

  <thead>
    <tr>
      <th>Previous Advocate</th>
      <th>Previous Date</th>
      <th>Advocate Appearing</th>
      <th>Client Fee Due</th>
      <th>File No</th>
      <th>Case Details</th>
      <th>Current Position Stage</th>
      <th>Next Stage</th>
      <th>Case Date</th>
      <th>Hearing Fee</th>
      <th>Important</th> 
    </tr>
  </thead>


  <tbody>
            

  <% @hearings.each do |hearing| %>
      <tr>
        <td>
          <%= if hearing.client_case.hearings[-3] != nil
          hearing.client_case.hearings[-3].advocate.name 
          end %>
        </td>

        <td>
          <%= if hearing.client_case.hearings[-3] != nil
          hearing.client_case.hearings[-3].date_of_hearing.strftime("%d-%m-%Y") 
          end %>
        </td>
        <td>
          <%= hearing.advocate.name %>
        </td>

        <td>
          <%= hearing.amount %>
        </td>

        <td>
          <%= hearing.client_case.file_no %>
        </td>

        <td>
         <%= hearing.client_case.case_format %>
        </td>

        <td>
          <%= hearing.case_status %>
        </td>

        <td>
          <%= hearing.client_case.hearings.last.case_status %>
        </td>

        <td>
          <%= hearing.client_case.hearings.last.date_of_hearing.strftime("%d-%m-%Y") %>
        </td>

        <td>
         <%= hearing.amount %>
        </td>
        <td>

            <label class="switch">
            <input type="checkbox">
            <div class="slider round"></div>
          </label>

        </td>
  </tr>
  <% end %>
  </tbody>


</table>
</div>
</div>